* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #616161;
}
h1 {
    color: crimson;
}

#game-container {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('./assets/grassPlane.jpg');
    max-width: 100%;
    max-height: 100%;
    
}

#start {

}

#restart {

}

#score {

}

#lives {

}

.h1 {
    
}

.h2 {
    
}